.nyc_output
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test-resources/
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
org.jboss.tools.rsp.distribution-*.zip
*.vsix
build/**
coverage/**
screencast/**
test/**
.travis.yml
Jenkinsfile
CONTRIBUTING.md
*.tgz
